<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/deleteStudent">Delete a student</a></li>
  <li><a href="/deleteTeacher">Delete a teacher</a></li>
  <li><a href="/deleteLecture">Delete lecture</a></li>
  <li><a href="/showStudentInformation">Show student information</a></li>
  <li><a href="/showTeacherInformation">Show teacher information</a></li>
</ul>
