<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>StudentTeach Admin page</title>
</head>
<body>
<b/>
<h1>StudentTeach Admin page</h1>

<ul>
    <li><a href="deleteStudent.html">Delete a student</a> </li>
    <li><a href="deleteTeacher.html">Delete a teacher</a></li>
    <li><a href="deleteLecture.html">Delete lecture</a></li>
    <li><a href="showStudentInformation.html">Show student information</a></li>
    <li><a href="showTeacherInformation.html">Show Teacher information</a></li>
</ul>

<script type="text/javascript" src="../Javascript/admin.js"></script>
<script type="text/javascript" src="../Javascript/teacher.js"></script>
<script type="text/javascript" src="../Javascript/student.js"></script>
<link rel="stylesheet" href="styles.css" type="text/css">
</body>
</html>




