<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <h1>Welcome to StudentTeach</h1>
    <ul class="nav">
      <% if(isLoggedIn) { %>
      <li><a href=/auth/logout>Log out</a></li>
        <li><a href="/lectures">Lectures</a></li>
      <% if (userType == 'teacher') { %>
      <li><a href="/createLecture">Create Lecture</a></li>
        <% } %>
      <% } %> <% if (!isLoggedIn) { %>
      <li><a href="/register">Register </a></li>
      <li><a href="/auth/login">Login</a></li>
      <% } %>
    </ul>
    <%- include('layouts/scripts'); -%>
  </body>
</html>
