<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove student</title>
</head>
<body>
<h1>Remove student</h1>
<ul>
    <li><a href="teacher.html">Teacher</a> </li>
    <li><a href="createLecture.html">Create lecture</a></li>
    <li><a href="removeLecture.html">Remove lecture</a></li>
    <li><a href="removeStudent.html">Remove student</a></li>
</ul>
<h2>Remove a student from (one of) your lecture(s)</h2>
<select id="lecturesTeacher1" onchange="selectStudentsInLectures()">
    <option selected disabled>Select lecture</option>
    <option value="1">Consumer surplus og producer surplus</option>
    <option value="2">Lineær programmering</option>
    <option value="3">Programmering - Guide til objekter</option>
    <option value="4">If statements og loops</option>
</select>
<div id="studentsInLectures">
    <select id="studentsIn2">
        <option selected disabled>Select student</option>
        <option value="1">Christopher André HA(it.) 1. semester</option>
        <option value="2">Niklas L-B HA(it.) 1. semester</option>
    </select>
    <select id="studentsIn3">
        <option selected disabled>Select student</option>
        <option value="1">Niklas L-B HA(it.) 1. semester</option>
    </select>
    <select id="studentsIn4">
        <option selected disabled>Select student</option>
        <option value="1">Christopher André HA(it.) 1. semester</option>
        <option value="2">Niklas L-B HA(it.) 1. semester</option>
    </select>
    <button id="removeButton2" type="button" onclick="removeStudent2();">Remove selected student</button>
    <button id="removeButton3" type="button" onclick="removeStudent3();">Remove selected student</button>
    <button id="removeButton4" type="button" onclick="removeStudent4();">Remove selected student</button>
</div>
<br/>
<script type="text/javascript" src="../Javascript/user.js"></script>
<script type="text/javascript" src="../Javascript/teacher.js"></script>
<link rel="stylesheet" href="teacher.css">
<link rel="stylesheet" href="styles.css" type="text/css">
</body>
</html>