<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Teacher information</title>
</head>
<body>
<h1>Show teacher information</h1>
<ul>
    <li><a href="deleteStudent.html">Delete a student</a> </li>
    <li><a href="deleteTeacher.html">Delete a teacher</a></li>
    <li><a href="deleteLecture.html">Delete lecture</a></li>
    <li><a href="showStudentInformation.html">Show student information</a></li>
    <li><a href="showTeacherInformation.html">Show teacher information</a></li>
</ul>
<br>
<button type="button" onclick="showTeacherinformation();"> Show teacher information</button>
<script type="text/javascript" src="../Javascript/admin.js"></script>
<script type="text/javascript" src="../Javascript/user.js"></script>
<script type="text/javascript" src="../Javascript/teacher.js"></script>
<script type="text/javascript" src="../Javascript/student.js"></script>
<link rel="stylesheet" href="styles.css" type="text/css">
</body>
</html>