<html>
<head>
    <title>Student - join lecture</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
    <script language="javascript" type="text/javascript">
// Alright, I wanted to create a dynamic dropdown list so that the contents of a dropdown list is dependent on another dropdown list. I found some help on google, and modified it to fit our system and needs. - Chris
// Found some help on how to make dynamic dropdown lists. - Chris
// Source - http://www.jyotiranjan.in/blog/create-dynamic-drop-down-list/ - Chris
// Here we create some cases which depend on what you select in the first dropdown list. Depending on if you choose HA(it) or HA(jur), you will get a different selection of courses - Chris
        function dynamicdropdown(listindex) {
            document.getElementById("sub_subcategory").length = 0;
            document.getElementById("sub_subcategory").options[0]=new Option("Select Lecture  ","");
            document.getElementById("subcategory").length = 0;
            switch (listindex)
            {
                case "HA(it.)" :
                    document.getElementById("subcategory").options[0]=new Option("Select Course","");
                    document.getElementById("subcategory").options[1]=new Option("Virksomhedens Økonomiske Styring","Virksomhedens Økonomiske Styring");
                    document.getElementById("subcategory").options[2]=new Option("Business and Information Systems","Business and Information Systems");
                    document.getElementById("subcategory").options[3]=new Option("Programmering","Programmering");
                    document.getElementById("subcategory").options[4]=new Option("Indføring i Organisationers Opbygning","Indføring i Organisationers Opbygning");
                    break;

                case "HA(jur.)" :
                    document.getElementById("subcategory").options[0]=new Option("Select Course","");
                    document.getElementById("subcategory").options[1]=new Option("Mikroøkonomi","Mikroøkonomi");
                    document.getElementById("subcategory").options[2]=new Option("Formueret","Formueret");
                    document.getElementById("subcategory").options[3]=new Option("Aftaleret","Aftaleret");
                    break;
// Future implementation for courses in ha(fil) and Ha(mat) - Chris
/*
                case "HA(fil.)" :
                    document.getElementById("subcategory").options[0]=new Option("Select Course","");
                    document.getElementById("subcategory").options[1]=new Option("","");
                    break;
                case "HA(mat.)" :
                    document.getElementById("subcategory").options[0]=new Option("Select Course","");
                    document.getElementById("subcategory").options[1]=new Option("","");
                    break;
                default:
                    document.getElementById("subcategory").options[0]=new Option("Select Course","");
                    break; */
            }
            return true;
        }
//Depending on what has been chosen in dropdown list 2, where you choose a course, you are presented with different lectures that correlate to the course and the study program - Chris
        function dynamicdropdownone(listindex) {
            document.getElementById("sub_subcategory").length = 0;
            switch (listindex)
            {
                case "Virksomhedens Økonomiske Styring" :
                    document.getElementById("sub_subcategory").options[0]=new Option("Select Lecture ","");
                    document.getElementById("sub_subcategory").options[1]=new Option("VØS - Consumer surplus og producer surplus","VØS - Consumer surplus og producer surplus");
                    document.getElementById("sub_subcategory").options[2]=new Option("VØS - Lineær programmering","VØS - Consumer surplus og producer surplus","VØS - Lineær programmering");
                    break;
                case "Business and Information Systems" :
                    document.getElementById("sub_subcategory").options[0]=new Option("Select Lecture ","");
                    document.getElementById("sub_subcategory").options[1]=new Option("BIS - Vandfaldsmodellen","BIS - Vandfaldsmodellen");
                    document.getElementById("sub_subcategory").options[2]=new Option("BIS - Html for begynder","BIS - Html for begynder");
                    break;
                case "Programmering" :
                    document.getElementById("sub_subcategory").options[0]=new Option("Select Lecture ","");
                    document.getElementById("sub_subcategory").options[1]=new Option("PRO - Guide til objekter", "PRO - Guide til objekter");
                    document.getElementById("sub_subcategory").options[2]=new Option("PRO - If statements og loops", "PRO - If statements og loops");
                    break;
                case "Indføring i Organisationers Opbygning" :
                    document.getElementById("sub_subcategory").options[0]=new Option("Select Lecture ","");
                    document.getElementById("sub_subcategory").options[1]=new Option("ORG - Kultur i organisationer","ORG - Kultur i organisationer");
                    document.getElementById("sub_subcategory").options[2]=new Option("ORG - Motivation og kobling til andre emner", "ORG - Motivation og kobling til andre emner");
                    break;
                case "Mikroøkonomi":
                    document.getElementById("sub_subcategory").options[0]=new Option("Select Lecture ","");
                    document.getElementById("sub_subcategory").options[1]=new Option("MØ - Mikroøkonomi opsumering","MØ - Mikroøkonomi opsumering");
                    break;
                case "Formueret":
                    document.getElementById("sub_subcategory").options[0]=new Option("Select Lecture ","");
                    document.getElementById("sub_subcategory").options[1]=new Option("Formueret - Eksamen tips og tricks","Formueret - Eksamen tips og tricks");
                    break;
                case "Aftaleret":
                    document.getElementById("sub_subcategory").options[0]=new Option("Select Lecture ","");
                    document.getElementById("sub_subcategory").options[1]=new Option("Aftaleret - Aftaleret for begynder", "Aftaleret - Aftaleret for begynder");
                    document.getElementById("sub_subcategory").options[2]=new Option("Aftaleret - Juridisk metode", "Aftaleret - Juridisk metode");
                    document.getElementById("sub_subcategory").options[3]=new Option("Aftaleret - Fuldmagt og ugyldihed opsumering", "Aftaleret - Fuldmagt og ugyldihed opsumering");
                    break;
                default:
                    document.getElementById("sub_subcategory").options[0]=new Option("Select Lecture ","");
                    break;
            }
            return true;
        }
    </script>
</head>
<title>Dynamic Drop Down List</title>
<body>
<h1> Please fill in the information below to join a lecture</h1>
<div class="category_div" id="category_div"><h2>Select study program:</h2>
    <select name="category" class="required-entry" id="category" onchange="javascript: dynamicdropdown(this.options[this.selectedIndex].value);">
        <option value="">Select study program</option>
        <option value="HA(it.)">HA(it.)</option>
        <option value="HA(jur.)">HA(jur.)</option>
<!--  Future implementation for courses in ha(fil) and Ha(mat) - Chris
        <option value="HA(fil.)">HA(fil.)</option>
        <option value="HA(mat.)">HA(mat.)</option>
-->
    </select>
</div>
<div class="sub_category_div" id="sub_category_div"><h2>Select Course:</h2>
    <script type="text/javascript" language="JavaScript">
        document.write('<select name="subcategory" id="subcategory" onchange="javascript: dynamicdropdownone(this.options[this.selectedIndex].value);"><option value="">Select Course</option></select>')
    </script>
    <noscript>
        <select name="subcategory" id="subcategory" >
            <option value="">Select Lecture</option>
        </select>
    </noscript>
</div>
<div class="sub_subcategory_div" id="sub_subcategory_div"><h2>Select Lecture:</h2>
    <script type="text/javascript" language="JavaScript">
        document.write('<select name="sub_subcategory" id="sub_subcategory"><option value="">Select Lecture  </option></select>')
    </script>
    <noscript>
        <select name="sub_subcategory" id="sub_subcategory" >
            <option value="">Select Lecture Time</option>
        </select>
    </noscript>
    <!-- Text area for additional comments -->
    <h2>Additional comments:</h2>
    <textarea type="text" rows="5" cols="30" id="comment" value=""></textarea>
    <br/>
    <br/>
    <!-- Submit button to activate some function -->
    <button  type="button"  onclick="studentValidationForm()"> Join Lecture </button>
    <br/>


    <script type="text/javascript" src="../Javascript/student.js"></script>
    <script type="module" src="../Javascript/user.js"></script>
    <link rel="stylesheet" href="styles.css" type="text/css">
    </div>


    </body>
    </html>
<!-- Found some help on how to make dynamic dropdown lists.
Source - http://www.jyotiranjan.in/blog/create-dynamic-drop-down-list/ -->
