<!DOCTYPE html>
<html lang="en">

<body>
<%- include('layouts/headerTeacher'); -%>
<ul>
    <li><a href="/">Index</a></li>
    <li><a href="/teacher">Teacher</a> </li>
    <li><a href="/createLecture">Create lecture</a></li>
    <li><a href="/removeLecture">Remove lecture</a></li>
    <li><a href="/removeStudent">Remove student</a></li>
</ul>
</body>
<!-- include /js/app.js -->
</html>