<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher profile</title>
</head>
<body>
<h1>Teacher profile</h1>
<ul>
    <li><a href="teacher.html">Teacher</a> </li>
    <li><a href="createLecture.html">Create lecture</a></li>
    <li><a href="removeLecture.html">Remove lecture</a></li>
    <li><a href="removeStudent.html">Remove student</a></li>
</ul>
 <!-- Linking external JavaScript and CSS files to our HTML page -->
<script type="text/javascript" src="../Javascript/user.js"></script>
<script type="text/javascript" src="../Javascript/teacher.js"></script>
<script type="text/javascript" src="../Javascript/classroom.js"></script>
<link rel="stylesheet" href="teacher.css">
<link rel="stylesheet" href="styles.css" type="text/css">
</body>
</html>