@font-face {
  font-family: cbsNewBold;
  src: url(../Fonts/cbsNewBold.ttf);
}
@font-face {
  font-family: cbsNewRegular;
  src: url(../Fonts/cbsNewRegular.ttf);
}

body {
  background-color: rgb(247, 247, 243);
  text-align: center;
}

button {
  background-color: rgb(73, 103, 170);
  font-family: cbsNewRegular;
  color: aliceblue;
  font-size: 18px;
}

h1 {
  color: rgb(73, 103, 170);
  font-family: cbsNewBold;
  text-align: center;
  font-size: 60px;
}

h2 {
  color: rgb(73, 103, 170);
  font-family: cbsNewBold;
}

h3 {
  color: rgb(73, 103, 170);
  font-family: cbsNewBold;
}

input,
select,
option,
textarea,
text {
  font-family: cbsNewRegular;
  font-size: 16px;
}
p, li,
a {
  font-family: cbsNewRegular;
  font-size: 20px;
}

ul {
  list-style-type: none;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(100, 102, 104);
}

ul.nav > li {
  float: left;
}

ul.nav > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav > li a:hover {
  background-color: #111;
}

.lecture-list {
  list-style: none;
  padding: 0 20px;
  margin: 20px auto;
}

.lecture-list > li:last-child {
  border-bottom: 1px solid #111;
}

.lecture-list > li {
  height: 80px;
  border-top: 1px solid #111;
  border-right: 1px solid #111;
  border-left: 1px solid #111;
  padding-left: 20px;
}

.lecture-list > h3 {
  vertical-align: center;
  margin: auto;
}
