<ul class="nav">
  <li><a href="/">Home</a></li>
  <li><a href="/teacher">Teacher</a></li>
  <li><a href="/lectures">Lectures</a></li>
  <li><a href="/createLecture">Create lecture</a></li>
  <li><a href="/removeLecture">Remove lecture</a></li>
  <li><a href="/removeStudent">Remove student</a></li>
</ul>
