<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/headerAdmin'); -%>
  <body>
    <h1>Show teacher information</h1>
    <%- include('layouts/navAdmin'); -%>

    <br />
    <button type="button" onclick="showTeacherinformation();">
      Show teacher information
    </button>
    <script type="text/javascript" src="../Javascript/admin.js"></script>
    <script type="text/javascript" src="../Javascript/student.js"></script>
    <%- include('layouts/scripts'); -%>
  </body>
</html>
