<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/headerTeacher'); -%>
  <body>
    <h1>Create lecture</h1>
    <%- include('layouts/navTeacher'); -%>
    <h2>Create lecture</h2>
    <form
      name="Create Lecture"
      action="/api/lectures"
      method="POST"
      enctype="application/x-www-form-urlencoded"
    >
      <!-- Text fields -->
      <p>Lecture name</p>
      <input
        type="text"
        id="lectureName"
        name="lectureName"
        value=""
        placeholder="Lecture name"
      />
      <br />

      <div>
        <label>Date</label>
        <input type="date" placeholder="Date" id="date" name="date" />
      </div>

      <div>
        <label>Time</label>
        <input type="time" placeholder="Time" id="time" name="time" />
      </div>

      <!-- Text area for additional comments -->
      <label>Additional comments</label>
      <textarea
        rows="5"
        cols="30"
        id="comment"
        name="comment"
        placeholder="Your comment here..."
      ></textarea>

      <!-- Teacher id, men der skal den tage det fra den der er logget ind? -->
      <div>
        <label>Teacher</label>
        <%= req.session.teacherId = teacher._id -%>
      </div>

      <div>
        <!-- Her skal det indsættes fra databasen -->
        <label>Classroom</label>
        <select id="classroom" name="classroom">
          <option value="">Select classroom</option>
          <option value="1">Solbjerg Plads</option>
          <option value="2">Flintholm</option>
          <option value="3">Dalgas Have</option>
          <option value="4">Porcelænshaven</option>
          <option value="5">Kilen</option>
        </select>
      </div>

      <div>
        <!-- Her skal det indsættes fra databasen -->
        <label>Course</label>
        <select id="course" name="course">
          <option value="">Select course</option>
          <option value="1">VØS</option>
          <option value="2">Organisation</option>
          <option value="3">Programmering</option>
          <option value="4">VØS2</option>
          <option value="5">IT-Projektledelse</option>
          <option value="6">Aftaleret</option>
          <option value="7">Markedsret</option>
          <option value="8">Forvaltningsret</option>
          <option value="9">Erhvervsøkonomi</option>
          <option value="10">Numerisk analyse</option>
          <option value="11">Videnskabteori</option>
        </select>
      </div>

      <!-- Submit button to create lecture -->
      <br />
      <button type="submit">
        Create lecture
      </button>
    </form>

    <div
      action="/lectures"
      method="POST"
      enctype="application/x-www-form-urlencoded"
    >
      <Label>Show all lectures</Label>
      <button type="submit">Show</button>
    </div>

    <%- include('layouts/scripts'); -%>
  </body>
</html>
