<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <h1>Welcome to StudentTeach</h1>
    <ul>
      <li><a href="/admin">Admin</a></li>
      <li><a href="/teacher">Teacher</a></li>
      <li><a href="/student">Student</a></li>
      <li><a href="/registerStudent">Register - Student </a></li>
      <li><a href="/registerTeacher">Register - Teacher</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
    <%- include('layouts/scripts'); -%>
  </body>
</html>
