<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8" />
    <title>Registration Page - Student</title>
  </head>
  <body>
    <h1>Welcome to StudentTeach</h1>
    <%- include('layouts/nav'); -%>
    <h2>Please enter your information below</h2>
    <form
      action="/auth/register"
      method="POST"
      enctype="application/x-www-form-urlencoded"
    >
      <div>
        <label>First Name</label>
        <input
          type="text"
          placeholder="First Name"
          id="firstName"
          name="firstName"
        />
      </div>
      <div>
        <label>Last Name</label>
        <input
          type="text"
          placeholder="Last Name"
          id="lastName"
          name="lastName"
        />
      </div>
      <div>
        <label>Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
        />
      </div>
      <div>
        <label>Email</label>
        <input type="email" placeholder="Email" id="email" name="email" />
      </div>
      <div>
        <label>Phonenumber</label>
        <input
          type="number"
          placeholder="Phonenumber"
          id="phoneNumber"
          name="phoneNumber"
        />
      </div>
      <div>
        <label>Study programme</label>
        <select id="studyProgramme" name="studyProgramme">
          <option value="">Select study program</option>
          <% for (const studyProgramme of studyProgrammes) { %>
          <option value="<%= studyProgramme.id %>"
            ><%= studyProgramme.title %></option
          >
          <% } %>
        </select>
      </div>
      <div>
        <input
          type="radio"
          value="true"
          name="isStudent"
          id="student"
          checked
        />
        <a>Student</a>
        <input type="radio" value="false" name="isStudent" id="teacher" />
        <a>Teacher</a>
      </div>

      <button type="submit">Register</button>
    </form>
    <%- include('layouts/scripts'); -%>
  </body>
</html>
