<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8" />
    <title>Registration Page</title>
  </head>
  <body>
    <h1>Welcome to StudentTeach</h1>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
    <h2>Please enter your information below</h2>
    <form action="/api/students" method="POST" enctype="application/x-www-form-urlencoded">
      <div>
        <label>First Name</label>
        <input
          type="text"
          placeholder="First Name"
          id="firstName"
          name="firstName"
        />
      </div>
      <div>
        <label>Last Name</label>
        <input
          type="text"
          placeholder="Last Name"
          id="lastName"
          name="lastName"
        />
      </div>
      <div>
        <label>Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
        />
      </div>
      <div>
        <label>Email</label>
        <input type="text" placeholder="Email" id="email" name="email" />
      </div>
      <div>
        <label>Phonenumber</label>
        <input
          type="text"
          placeholder="Phonenumber"
          id="phoneNumber"
          name="phoneNumber"
        />
      </div>
      <div>
        <!-- Her skal det indsættes fra databasen -->
        <label>Study programme</label>
        <select id="studyProgramme" name="studyProgramme">
          <option value="">Select study program</option>
          <option value="1">HA(it.)</option>
          <option value="2">HA(jur.)</option>
          <option value="3">HA(mat.)</option>
        </select>
      </div>
      <!-- <div>
          <input type="radio" name="checked" id="student" checked />
          <a>Student</a>
          <input type="radio" name="checked" id="teacher" />
          <a>Teacher</a>
        </div> -->

      <button type="submit">Register</button>
    </form>
    <%- include('layouts/scripts'); -%>
  </body>
</html>
