<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/headerTeacher'); -%>
  <body>
    <h1>Remove student</h1>
    <%- include('layouts/navTeacher'); -%>
    <h2>Remove a student from (one of) your lecture(s)</h2>
    <select id="lecturesTeacher1" onchange="selectStudentsInLectures()">
      <option selected disabled>Select lecture</option>
      <option value="1">Consumer surplus og producer surplus</option>
      <option value="2">Lineær programmering</option>
      <option value="3">Programmering - Guide til objekter</option>
      <option value="4">If statements og loops</option>
    </select>

    <!-- Det her var en lappe løsning jeg lavede fordi jeg ikke kunne finde
    en løsning uden database. Den her funktion skal laves om, således at man
    kigger i databasen efter tilmeldte elever på en oprettet forelæsning hvis muligt
    - Niklas-->
    <div id="studentsInLectures">
      <select id="studentsIn2">
        <option selected disabled>Select student</option>
        <option value="1">Christopher André HA(it.) 1. semester</option>
        <option value="2">Niklas L-B HA(it.) 1. semester</option>
      </select>
      <select id="studentsIn3">
        <option selected disabled>Select student</option>
        <option value="1">Niklas L-B HA(it.) 1. semester</option>
      </select>
      <select id="studentsIn4">
        <option selected disabled>Select student</option>
        <option value="1">Christopher André HA(it.) 1. semester</option>
        <option value="2">Niklas L-B HA(it.) 1. semester</option>
      </select>
      <button id="removeButton2" type="button" onclick="removeStudent2();">
        Remove selected student
      </button>
      <button id="removeButton3" type="button" onclick="removeStudent3();">
        Remove selected student
      </button>
      <button id="removeButton4" type="button" onclick="removeStudent4();">
        Remove selected student
      </button>
    </div>
    <br />
    <%- include('layouts/scripts'); -%>
  </body>
</html>
