<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/headerTeacher'); -%>
  <body>
    <h1>Teacher profile</h1>
    <%- include('layouts/navTeacher'); -%> <%- include('layouts/scripts'); -%>
  </body>
</html>
